<mat-card>
  <mat-card-title>Reset password</mat-card-title>
  <mat-card-subtitle>Please enter your email address to request a password reset.</mat-card-subtitle>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Email Address" #passwordResetEmail required>
    </mat-form-field>
<p>
  <mat-form-field>
    <button mat-raised-button color="primary" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
  </mat-form-field>
</p><mat-divider></mat-divider>
  <mat-form-field>
    <span>Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </mat-form-field>
</mat-card>
