<mat-stepper linear>
  <mat-step label="Choose marker type">
        <mat-label>Type</mat-label>
    <section class="example-section">
        <mat-radio-group class="example-margin"[(ngModel)]="data.trash.entityType">
          <mat-radio-button class="example-margin" value="bin">Trash bin</mat-radio-button>
          <mat-radio-button class="example-margin" value="abandoned">Abandoned trash</mat-radio-button>
          <mat-radio-button class="example-margin" value="collectible">Collectible waste</mat-radio-button>
        </mat-radio-group>
    </section>
    <section class="image-upload">
        <input type="file" class="file-input" accept="image/*" capture="camera"
               (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">
          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button><br/>
          <img [src]="data.trash.photoURL" *ngIf="data.trash.photoURL" width="220px"/>
          <span class="no-file-uploaded" *ngIf="!data.trash.photoURL">{{ "No file uploaded yet."}}</span>


        </div>
    </section>
    <div>
        <button mat-button color="primary" matStepperNext>Next</button>
        <button mat-button color="secondary" (click)="cancel()">Cancel</button>
      </div>
  </mat-step>
  <mat-step label="Fill details">
    <mat-form-field appearance="fill">
      <mat-label>Size</mat-label>
      <mat-select required [(ngModel)]="data.trash.size" #usize="ngModel" >
        <mat-option *ngFor="let size of sizes" [value]="size.value">
          {{size.viewValue}}
        </mat-option>
      </mat-select>
      <div *ngIf="!usize.touched || usize.invalid">
        Size is required.
      </div>
    </mat-form-field><br/>
    <section class="section-bin">
      <mat-form-field  appearance="fill" *ngIf="data.trash.entityType=='bin'">
        <mat-label>Status</mat-label>
        <mat-select [required]="data.trash.entityType=='bin'" #ustatus="ngModel"  [(ngModel)]="data.trash.status" >
          <mat-option value="ready">Ready</mat-option>
          <mat-option value="full">Full</mat-option>
          <mat-option value="overfilled">Overfilled</mat-option>
        </mat-select>
        <div *ngIf="data.trash.entityType=='bin' && (!ustatus.touched || ustatus.invalid)">
          Status is required.
        </div>
      </mat-form-field><br/>
    </section>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select required #utype="ngModel" [(ngModel)]="data.trash.type">
        <mat-option *ngFor="let type of getTypes()"  [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
      <div *ngIf="!utype.touched || utype.invalid">
          Status is required.
        </div>
    </mat-form-field><br/>
    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" [(ngModel)]="data.trash.note"></textarea>
    </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [mat-dialog-close]="{ trash: data.trash }" color="primary" [disabled]="usize.invalid || utype.invalid">Submit</button>
        <button mat-button (click)="cancel()">Cancel</button>
      </div>
  </mat-step>
</mat-stepper>
