<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <mat-form-field>
    <input matInput type="email" required #userEmail placeholder="Email Address" />
  </mat-form-field>
  <p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="username" required #userPassword />
  </mat-form-field>
  </p>
  <p>
      <button mat-raised-button color="primary" (click)="authService.SignUp(userEmail.value, userPassword.value)">Sign Up</button>
  </p>
  <p>
      <button mat-raised-button color="accent" (click)="authService.GoogleAuth()">
        Continue with Google
      </button>
  </p>
  <p>
    <button mat-raised-button class="redirect" routerLink="/sign-in"> Sign in</button>
  </p>
</mat-card>
