mat-card {
  display: block;

  width: 450px;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;

  padding: 32px;

  text-align: center;
}

mat-card-title {
  margin-bottom: 32px;
}
