<div class="root">
  <mat-toolbar color="primary" class="toolbar">
    <img id="logo" src="../assets/logo_01.svg" alt="logo"/>

    <div class="header">
      <span>Bin-there</span>
      <button mat-mini-fab color="secondary" class="btn-log-in-out" (click)="authService.SignOut()" *ngIf="authService.isLoggedIn" ><mat-icon>logout</mat-icon></button>
      <button mat-mini-fab color="secondary" class="btn-log-in-out" routerLink="/sign-in" *ngIf="!authService.isLoggedIn" ><mat-icon>login</mat-icon></button>
    </div>

  </mat-toolbar>
  <div class="container-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
