<div class="root">
  <mat-toolbar color="primary" class="toolbar">

    <a mat-button routerLink="/map">
      <img class="header-image" src="../assets/header_logo_name_slogan.svg" alt="logo"/>
<!--      <img class="header-image" src="../assets/product_name.svg" alt="logo"/>-->
<!--      <img class="header-image" src="../assets/product_slogan.svg" alt="logo"/>-->
    </a>

    <div class="actions">

      <button mat-mini-fab color="secondary" matTooltip="Select the language.">
        <img class="user-photo" src="assets/flag_uk.svg" alt="uk-flag">
      </button>
      <button mat-mini-fab color="secondary" (click)="authService.SignOut()" *ngIf="authService.isLoggedIn"
              matTooltip="Log out.">
        <mat-icon>logout</mat-icon>
      </button>

      <button mat-mini-fab color="secondary" routerLink="/sign-in" *ngIf="!authService.isLoggedIn"
              matTooltip="You are currently not logged in, please log in.">
        <mat-icon>login</mat-icon>
      </button>

      <button mat-mini-fab color="secondary" routerLink="/dashboard" *ngIf="authService.userData as user">
        <img *ngIf="authService.isLoggedIn" class="user-photo" src="{{user.photoURL ? user.photoURL : '/assets/user_profile.svg'}}" alt="user image"
             matTooltip="{{user.displayName ? 'Go to ' + user.displayName + 's dashboard.' : 'User'}}">
      </button>
    </div>

  </mat-toolbar>
  <div class="container-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
