.root {
  display: block;
}

.toolbar {
  height: 60px;
}

.container-wrapper {
  height: calc(100vh - 60px);
}

#logo {
  width: 48px;
}

.header {
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin-left: -48px;
}

.btn-log-in-out {
  position: absolute;
  top: 5px;
  right: 35px;
  z-index: 1000;
  background-color: mat-color('white');
}

